@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Boas Vindas,@Model.Usuario </h1>
    <p>Esse site foi feito no intuito de aprender a mecher em ASP.NET e irá disponibilizar uma criação de usuário </a>.</p>
</div>
