@{
    ViewData["Title"] = "Loginin";
}

<div class="text-center">

  <div class="d-grid gap-2 d-md-flex justify-content-md-start">
    <a class="btn btn-primary" role="button" asp-controller="Loginin"asp-action="Create">Adicionar Usuario</a>
  </div>
  <br/>
  <h1>Listagem de Usuários</h1>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Usuario</th>
        <th scope="col">Senha</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Kawan</td>
        <td>admintest</td>
        <td>adminadmin</td>
        <td>
          <div class="btn-group" role="group" aria-label="Basic example">
            <a role="button" class="btn btn-primary"asp-controller="Loginin" asp-action="Edit">Edit</a>
            <a role="button" class="btn btn-danger"asp-controller="Loginin" asp-action="DeleteWarning">Delete</a>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>fat</td>
        <td>
          <div class="btn-group" role="group" aria-label="Basic example">
            <a role="button" class="btn btn-primary" asp-controller="Loginin" asp-action="Edit"> Edit</a>
            <a role="button" class="btn btn-danger"asp-controller="Loginin" asp-action="DeleteWarning">Delete</a>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>David</td>
        <td>Davethedogontherave</td>
        <td>Dance</td>
        <td>
          <div class="btn-group" role="group" aria-label="Basic example">
            <a role="button" class="btn btn-primary"asp-controller="Loginin" asp-action="Edit">Edit</a>
            <a role="button" class="btn btn-danger"asp-controller="Loginin" asp-action="DeleteWarning">Delete</a>
          </div>
        </td>
      </tr>
    </tbody>
</table>
</div>
 

